/* src/components/SocialFooter/SocialFooter.module.css */

.socialLink {
  position: absolute;
  bottom: 0;
  display: block;
  text-indent: -9999px;
  /* --- PARA POSICIONAR --- */
  /* Descomenta la siguiente línea para ver el área de cada botón en un color verde semitransparente. */
  /* background-color: rgba(0, 255, 0, 0.4); */
}

/* --- AJUSTA ESTOS VALORES PARA POSICIONAR CADA BOTÓN --- */

.instagramLink {
  bottom: 54%;
  left: 24%;
  width: 14%;
  height: 5%;
}

.tiktokLink {
  bottom: 54%;
  left: 41%;
  width: 15%;
  height: 5%;
}

.youtubeLink {
  bottom: 54%;
  left: 59%;
  width: 17%;
  height: 5%;
}