/* src/components/ArrowButton/ArrowButton.module.css */
.button {
  background-color: #ffffff;
  color: #9c27b0;
  border: none;
  border-radius: 50%; /* Hace el botón circular */
  width: 40px; /* Ajusta el ancho del botón */
  height: 40px; /* Ajusta la altura del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 0; /* Elimina el padding para centrar el icono */
  outline: none; /* Elimina el borde al hacer foco */
}

.button:hover {
  background-color: #ab47bc;
}